html {
	font-size: 10px;
}

body {
	margin: 0;
	min-width: 320px;
	background: $body-bg;
	color: $text-color-base;
	font: $font-weight-base #{$font-size-base}/$line-height-base $font-family-base;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: $links-color-base;
	transition: $transition;
}

a:hover {
	text-decoration: none;
}

button,
input[type="search"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	transition: $transition;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
	padding: 0;
}

.wrapper {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-direction: column;
}

#main {
	flex-grow: 1;
}

h1, h2, h3, h4, h5, h6{
	font-family: $fontTitle;
	// letter-spacing: 0.04em;
	font-weight: 700;
	margin: 0;
}
h1 {
	font-size: $fsH1Title;
}

h2 {
	font-size: $fsH2Title;
}

h3 {
	font-size: $fsH3Title;
}
h4 {
	font-size: $fsH4Title;
}
h5 {
	font-size: $fsH5Title;
}
h6 {
	font-size: $fsH6Title;
}

p {
	margin: 0;
}

input[type="submit"],
input[type="button"],
button,
.button {
	display: inline-block;
	background-color: $btn-bg;
	border: none;
	color: $btn-color;
	transition: all .3s ease-in;
	padding: 11px 28px;
	border-radius: 25px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

input[type="submit"],
input[type="button"],
button:hover,
.button:hover {
	background-color: $orange;
	color: $white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: all .3s ease-in;
}

*, *::before, *::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}
// dev2
// dev3
// dev4
